.profile__edit-button_avatar {
  background-image: url('../../../../images/pencil.png');
  background-size: 26px 26px;
  outline: none;
  border: none;
  position: absolute;
  top: 70px;
  left: 32px;
  opacity: 0;
  z-index: 10;
}

.profile__edit-button_avatar:hover {
  z-index: 10;
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 883px) {
  .profile__edit-button_avatar {
    left: auto;
    right: auto;
  }
}